/Day 1( HTML-Intro)
/Day 12 CSS
/Day 13 CSS
/Day 14 CSS
/Day 15 CSS
/Day 16 CSS
/Day 17 CSS
/Day 18 Tailwind
/Day 2 HTML
/Day 3 HTML
/Day 4 CSS
/Day 5 CSS
/Day 6 CSS
/Day 7 CSS
/Day 8 CSS
/Day 9 CSS
/Day18 TailwindCDN
/Day18(Javascript)
/Day19(JS)
/Day20(JS)
/Day21(JS)
/Projects